* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

.container {
  width: 100%;
}

.top {
  background-color: #90ccf4;
  padding: 1rem;
}

.top h1 {
  display: inline-block;
  padding: 1rem;
  float: left;
}

.top a {
  font-size: 1rem;
  float: right;
}

.nav ul li { 
  display: inline-block;
  height: 40px;
  line-height: 40px; 
  list-style: none;
  padding: 1rem; 
}

.nav a {
  text-decoration-line: none;
}